.login-box{

	max-width: 450px;
	float: none;
	margin: 200px auto;

}

.login{

	background-color: rgba(211 , 211 , 211 , 0.5);
	padding: 30px;
	font-weight: bold;

}

.login h2{

	font-family: helvetica;
	font-size: 2.5em;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 30px;

}

form div{

	margin-left: 25px;
}
.form-group input{

	max-width: 400px;

}

button{

	float: left;
	margin-top: 25px !important;
	margin-left: 25px !important;

}

.logandcreate{

	text-align: right;
	margin-right: 25px;
	padding-top: 30px;

}