body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #ECF0F1
}

/*Nav-bar*/
.navbar{
    margin: 1%;
    border-radius: 10px;
    
}
#logo{
	margin-left: 2%;
	margin-right: 3%;
}
/*Nav-bar end*/

/*Heading*/
#Topic{
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 3% 0;
    color: #1C2833;
    font-family: 'Bebas Neue', cursive;
}
/*cards*/
.card{
    margin: 2%;
    border: 1px solid #5DADE2;
    background-color: #34495E;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.row{
    margin-bottom: 3%;
}

div img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}