/*body{

	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(images/image.jpg);
	background-size: cover;

}*/

.login-box{

	max-width: 450px;
	float: none;
	margin: 200px auto;

}

.login{

	background-color: rgba(211 , 211 , 211 , 0.5);
	padding: 30px;
	font-weight: bold;

}

.login h2{

	font-family: helvetica;
	font-size: 2.5em;
	font-weight: bolder;
	text-align: center;

}

form div{

	margin-left: 50px;
	margin-top: 25px;
}


.form-group input{

	max-width: 350px;
}

button{

	width: 100px;
	margin-left: 50px !important;
	margin-top:  15px !important;
	float: left;
}

.signup{


	text-align: right;
	margin-top:  35px;
	margin-right: 50px;

}
