body{
	background-color: #ECF0F1;
	margin: 1%;
}

.navbar{
	margin: 1%;
	border-radius: 10px;
}
#logo{
	margin-left: 2%;
	margin-right: 3%;
}
.card-title{
	text-align: center;
}
.card-img-top{
	border-radius: 10px;
	border: 4px solid white;
}
.card{
	border-radius: 10px;
}
.head{
    margin: 2% 0 4%;
    font-family: 'Bebas Neue', cursive;
    color: #1C2833;
}