body{
	background-color: #ECF0F1;
	margin: 1%;
}
/*Nav-bar*/
.navbar{
	margin: 1%;
	border-radius: 10px;
}
#logo{
	margin-left: 2%;
	margin-right: 3%;
}
#left{
	border: 1px solid #5DADE2;
	padding: 2%;
	border-radius: 20px;
    margin-right: 1%;
    background-color: #5D6D7E;
}
.head{
	position: relative;
    margin: 2% 0 4%;
    font-family: 'Nunito', sans-serif;

}
.container{
	position:absolute;
}
/*image upload*/
#right{
	border: 1px solid #5DADE2;
	padding: 2%;
	border-radius: 20px;
    margin-left: 1%;
    background-color: #5D6D7E;
}
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
/*cancel*/
#cancel:hover{
    text-decoration: none;
}
/*index page cards*/
.card-title{
	text-align: center;
}
.card-img-top{
	border-radius: 10px;
}
.card{
	border-radius: 10px;
}