body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #ECF0F1;
}
body, html {
    height: 100%;
  }
  .bg {
/* The image used */
    position: relative;
    background-image: url("../images/back.jpg");
  
/* Full height */
    height: 100%;
  
/* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.containerhome{
    position: absolute;
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
  }
  
/*Nav-bar*/
.navbar{
    margin: 1%;
    border-radius: 10px;
    
}
#logo{
	margin-left: 2%;
	margin-right: 3%;
}
#left{
	border: 1px solid #5DADE2;
	padding: 2%;
	border-radius: 20px;
    margin-right: 1%;
    background-color: #5D6D7E;
}
.head{
	position: relative;
    margin: 2% 0 4%;
    font-family: 'Bebas Neue', cursive;
    color: #1C2833;
}
.container{
	position:absolute;
}
/*image upload*/
#right{
	border: 1px solid #5DADE2;
	padding: 2%;
	border-radius: 20px;
    margin-left: 1%;
    background-color: #5D6D7E;
}
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
/*cancel*/
#cancel:hover{
    text-decoration: none;
}
/*Content paragraph*/
#body{
    border: 2px solid white;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    background-color: #273746;
    opacity: 70%;
    color:#FDFEFE;
    padding: 2% 5%;
    max-height: fit-content;
}
/*topic*/
#header{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #1C2833;
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
}
/*footer div*/
#footer{
    height: 30%;
    background-color: #1C2833;
    border-top: 2px solid white;
    color: white;
    max-width: 100%;
}
/*footer container*/
#foot{
    margin: 3% 0 2%;
}
